In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_selection import SelectKBest, chi2
from cProfile import label
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
#import torch
#import torch.nn as nn
#import torch.optim as optim
#from torch.utils.data import DataLoader, TensorDataset

In [2]:
df_train = pd.read_csv("Dataset/diabetic_data_training.csv")
df_test = pd.read_csv('Dataset/diabetic_data_test.csv')

display(df_train.shape, df_test.shape)

(91589, 50)

(10177, 50)

In [3]:
mapping_csv = pd.read_csv("Dataset/IDS_mapping.csv")
mapping_csv = mapping_csv.dropna(how='all')
dictionaries = {}
current_dict = 'admission_type_id'
dictionaries[current_dict] = {}


for index, row in mapping_csv.iterrows():
   id = row.to_list()[0]
   if id.isdigit():
       dictionaries[current_dict][row.to_list()[0]] = str(row.to_list()[1])
   else:
       current_dict = id
       dictionaries[current_dict] = {}

In [4]:
# Mapping the textual values associated with teh placeholder values given originally in teh dataset

# TRAIN DATA

if 'admission_type_id' in df_train.columns:
   df_train['admission_type_id'] = df_train['admission_type_id'].astype(str).map(dictionaries['admission_type_id'])


# Map discharge dispositions
if 'discharge_disposition_id' in df_train.columns:
   df_train['discharge_disposition_id'] = df_train['discharge_disposition_id'].astype(str).map(dictionaries['discharge_disposition_id'])


if 'admission_source_id' in df_train.columns:
   df_train['admission_source_id'] = df_train['admission_source_id'].astype(str).map(dictionaries['admission_source_id'])
   
# TEST DATA

if 'admission_type_id' in df_test.columns:
   df_test['admission_type_id'] = df_test['admission_type_id'].astype(str).map(dictionaries['admission_type_id'])


# Map discharge dispositions
if 'discharge_disposition_id' in df_test.columns:
   df_test['discharge_disposition_id'] = df_test['discharge_disposition_id'].astype(str).map(dictionaries['discharge_disposition_id'])


if 'admission_source_id' in df_test.columns:
   df_test['admission_source_id'] = df_test['admission_source_id'].astype(str).map(dictionaries['admission_source_id'])
   
display(df_train.head(10), df_test.head(10), df_train.shape, df_test.shape)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,149190,55629189,Caucasian,Female,[10-20),?,Emergency,Discharged to home,Emergency Room,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
1,64410,86047875,AfricanAmerican,Female,[20-30),?,Emergency,Discharged to home,Emergency Room,2,...,No,No,No,No,No,No,No,No,Yes,NO
2,500364,82442376,Caucasian,Male,[30-40),?,Emergency,Discharged to home,Emergency Room,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
3,16680,42519267,Caucasian,Male,[40-50),?,Emergency,Discharged to home,Emergency Room,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
4,35754,82637451,Caucasian,Male,[50-60),?,Urgent,Discharged to home,Clinic Referral,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
5,55842,84259809,Caucasian,Male,[60-70),?,Elective,Discharged to home,Clinic Referral,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
6,63768,114882984,Caucasian,Male,[70-80),?,Emergency,Discharged to home,Emergency Room,5,...,No,No,No,No,No,No,No,No,Yes,>30
7,12522,48330783,Caucasian,Female,[80-90),?,Urgent,Discharged to home,Transfer from a hospital,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
8,15738,63555939,Caucasian,Female,[90-100),?,Elective,Discharged/transferred to SNF,Transfer from a hospital,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,36900,77391171,AfricanAmerican,Male,[60-70),?,Urgent,Discharged to home,Transfer from a hospital,7,...,No,Steady,No,No,No,No,No,Ch,Yes,<30

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,nan,Not Mapped,Physician Referral,1,...,No,No,No,No,No,No,No,No,No,NO
1,28236,89869032,AfricanAmerican,Female,[40-50),?,Emergency,Discharged to home,Emergency Room,9,...,No,Steady,No,No,No,No,No,No,Yes,>30
2,150006,22864131,?,Female,[50-60),?,Urgent,Discharged to home,Transfer from a hospital,2,...,No,Down,No,No,No,No,No,Ch,Yes,NO
3,253380,56480238,AfricanAmerican,Female,[60-70),?,Emergency,Discharged to home,Emergency Room,6,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
4,383430,80588529,Caucasian,Female,[70-80),?,Emergency,Discharged/transferred to another short term h...,Emergency Room,1,...,No,Down,No,No,No,No,No,Ch,Yes,>30
5,550098,21820806,AfricanAmerican,Male,[50-60),?,Urgent,Discharged to home,Clinic Referral,4,...,No,No,No,No,No,No,No,No,No,<30
6,676422,63754317,AfricanAmerican,Female,[70-80),?,Emergency,Discharged to home,Emergency Room,4,...,No,Steady,No,No,No,No,No,No,Yes,>30
7,870294,95075649,Caucasian,Female,[70-80),?,Emergency,Discharged/transferred to home with home healt...,Emergency Room,7,...,No,No,No,No,No,No,No,No,No,<30
8,1072554,114039603,Caucasian,Male,[70-80),?,Elective,Discharged to home,Clinic Referral,3,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,1161024,20830941,Caucasian,Female,[70-80),?,Emergency,Discharged/transferred to another short term h...,Emergency Room,5,...,No,Steady,No,No,No,No,No,Ch,Yes,>30

(91589, 50)

(10177, 50)

In [5]:
# Create df_train_ and df_test_ dataframes, which are simply dropping the columns below
features_to_drop = ['payer_code', 'medical_specialty', 'weight'] # remove 'encounter_id', 'patient_nbr' to keep temporal information

# Drop columns directly from both dataframes
df_train_ = df_train.drop(columns=features_to_drop, axis=1)
df_test_ = df_test.drop(columns=features_to_drop, axis=1)

In [6]:
# Generate Timestep for Each Patient (Visit Number)
df_train_['timestep'] = df_train_.groupby('patient_nbr').cumcount() + 1
df_test_['timestep'] = df_test_.groupby('patient_nbr').cumcount() + 1

# Reorder columns to place timestep as the 3rd column train dataset
columns = list(df_train_.columns)
columns.insert(2, columns.pop(columns.index('timestep')))
df_train_ = df_train_[columns]

# Select Relevant Columns (Keep Timestep)
temporal_cols = [col for col in df_train_.columns]# if col not in ['readmitted']]
df_train_ = df_train_[temporal_cols]


# Reorder columns to place timestep as the 3rd column test dataset
columns = list(df_test_.columns)
columns.insert(2, columns.pop(columns.index('timestep')))
df_test_ = df_test_[columns]

In [7]:
# Replace '?' with NaN
df_train_ = df_train_.replace('?', pd.NA)
df_test_ = df_test_.replace('?', pd.NA)

# Replace None or 'none' values in the specified columns with the desired text
df_train_['max_glu_serum'] = df_train_['max_glu_serum'].replace(
    [None, 'none'], "The test was not conducted on this patient"
)
df_train_['A1Cresult'] = df_train_['A1Cresult'].replace(
    [None, 'none'], "The test was not conducted on this patient"
)

# Replace None or 'none' values in the specified columns with the desired text
df_test_['max_glu_serum'] = df_test_['max_glu_serum'].replace(
    [None, 'none'], "The test was not conducted on this patient"
)
df_test_['A1Cresult'] = df_test_['A1Cresult'].replace(
    [None, 'none'], "The test was not conducted on this patient"
)

In [8]:
# Checking for Missing Values and Printing Only Features with Missing Values
missing_values_df_train_ = df_train_.isnull().sum()
# Filter for features with missing values
missing_values_df_train_ = missing_values_df_train_[missing_values_df_train_ > 0]

missing_values_df_test_ = df_test_.isnull().sum()
# Filter for features with missing values
missing_values_df_test_ = missing_values_df_test_[missing_values_df_test_ > 0]

print("\nFeatures with Missing Values in df_train_:")
print(missing_values_df_train_)

Features with Missing Values in df_train_:
race      2059
diag_1      21
diag_2     320
diag_3    1266
dtype: int64

In [9]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

# First, let's handle categorical variables
# Create label encoders
label_encoders = {}
other_cols = []
columns_to_impute = ['race', 'diag_1', 'diag_2', 'diag_3']

# Function to encode and decode 
def encode_categorical(df, columns):
    df_encoded = df.copy()
    for col in columns:
        if df[col].dtype == 'object':  # If column is categorical
            if col not in label_encoders:
                label_encoders[col] = LabelEncoder()
                # Fill NaN with a placeholder first
                df_encoded[col] = df_encoded[col].fillna('Missing')
                # Fit and transform
                df_encoded[col] = label_encoders[col].fit_transform(df_encoded[col])
    return df_encoded

def decode_categorical(df):
    df_decoded = df.copy()
    for col in columns_to_impute:
        if col in label_encoders:
            df_decoded[col] = label_encoders[col].inverse_transform(df_decoded[col].astype(int))
    return df_decoded

# Encode both training and test data
df_train_encoded = encode_categorical(df_train_, columns_to_impute)

# Now apply KNN imputation
imputer = KNNImputer(n_neighbors=5)

# Fit and transform training data
df_train_imputed = pd.DataFrame(
    imputer.fit_transform(df_train_encoded[columns_to_impute]),
    columns=columns_to_impute,
    index=df_train_encoded.index
)

# Round the values since we're working with categorical data
for col in columns_to_impute:
    df_train_imputed[col] = df_train_imputed[col].round()

# Decode the imputed values back to categories
df_train_imputed_decoded = decode_categorical(df_train_imputed)

for col in df_train_:
    if col not in columns_to_impute:
        other_cols.append(col)
if other_cols:
    df_train_ = pd.concat([df_train_imputed_decoded, df_train_[other_cols]], axis=1)

In [10]:
# convert age from categorical to numerical variable
age_mapping = {
       '[0-10)' : 5,
       '[10-20)' : 15,
       '[20-30)' : 25,
       '[30-40)' : 35,
       '[40-50)' : 45,
       '[50-60)' : 55,
       '[60-70)' : 65,
       '[70-80)' : 75,
       '[80-90)' : 85,
       '[90-100)' : 95,
}

df_train_['age'] = df_train_['age'].map(age_mapping)
df_test_['age'] = df_test_['age'].map(age_mapping)

In [11]:
df_train_ = df_train_.dropna()
df_test_ = df_test_.dropna()
print(df_train_.shape, df_test_.shape)

(91589, 48) (9810, 48)

In [12]:
readmitted_col_df_train_ = df_train_['readmitted']
df_train_copy = df_train_.drop(columns=['readmitted'], axis=1)

readmitted_col_df_test_ = df_test_['readmitted']
df_test_copy = df_test_.drop(columns=['readmitted'], axis=1)

####################################

# create a list with the categorical columns and one with the numerical columns
categorical_columns = df_train_copy.select_dtypes(include=['object']).columns.tolist()
numerical_columns = df_train_copy.select_dtypes(include=['int64', 'float64']).columns.tolist()

In [13]:
df_train_one = pd.get_dummies(df_train_[categorical_columns],drop_first=False) 
df_test_one = pd.get_dummies(df_test_[categorical_columns],drop_first=False)

In [14]:
# Select numerical columns for df_train
df_train_num = df_train_[numerical_columns]
# Select numerical columns for df_test
df_test_num = df_test_[numerical_columns]

In [15]:
df_train_seq = pd.concat([df_train_num, df_train_one, readmitted_col_df_train_], axis = 1)
df_test_seq = pd.concat([df_test_num, df_test_one, readmitted_col_df_test_], axis = 1)

print(df_train_seq.shape)
print(df_test_seq.shape)

display(df_train_seq,df_test_seq)

(91589, 2371)
(9810, 1527)

,encounter_id,patient_nbr,timestep,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,glimepiride-pioglitazone_No,metformin-rosiglitazone_No,metformin-rosiglitazone_Steady,metformin-pioglitazone_No,metformin-pioglitazone_Steady,change_Ch,change_No,diabetesMed_No,diabetesMed_Yes,readmitted
0,149190,55629189,1,15,3,59,0,18,0,0,...,True,True,False,True,False,True,False,False,True,>30
1,64410,86047875,1,25,2,11,5,13,2,0,...,True,True,False,True,False,False,True,False,True,NO
2,500364,82442376,1,35,2,44,1,16,0,0,...,True,True,False,True,False,True,False,False,True,NO
3,16680,42519267,1,45,1,51,0,8,0,0,...,True,True,False,True,False,True,False,False,True,NO
4,35754,82637451,1,55,3,31,6,16,0,0,...,True,True,False,True,False,False,True,False,True,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91584,443847548,100162476,2,75,3,51,0,16,0,0,...,True,True,False,True,False,True,False,False,True,>30
91585,443847782,74694222,1,85,5,33,3,18,0,0,...,True,True,False,True,False,False,True,False,True,NO
91586,443854148,41088789,3,75,1,53,0,9,1,0,...,True,True,False,True,False,True,False,False,True,NO
91587,443857166,31693671,4,85,10,45,2,21,0,0,...,True,True,False,True,False,True,False,False,True,NO
91588,443867222,175429310,1,75,6,13,3,3,0,0,...,True,True,False,True,False,False,True,True,False,NO

,encounter_id,patient_nbr,timestep,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,glipizide-metformin_No,glimepiride-pioglitazone_No,glimepiride-pioglitazone_Steady,metformin-rosiglitazone_No,metformin-pioglitazone_No,change_Ch,change_No,diabetesMed_No,diabetesMed_Yes,readmitted
1,28236,89869032,1,45,9,47,2,17,0,0,...,True,True,False,True,True,False,True,False,True,>30
3,253380,56480238,1,65,6,87,0,18,0,0,...,True,True,False,True,True,True,False,False,True,NO
4,383430,80588529,1,75,1,28,0,15,0,0,...,True,True,False,True,True,True,False,False,True,>30
5,550098,21820806,1,55,4,40,1,14,0,0,...,True,True,False,True,True,False,True,True,False,<30
6,676422,63754317,1,75,4,48,2,15,0,1,...,True,True,False,True,True,False,True,False,True,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10172,443266892,180189752,1,55,5,71,5,23,0,0,...,True,True,False,True,True,True,False,False,True,>30
10173,443721236,38726739,1,75,3,57,4,11,0,0,...,True,True,False,True,True,False,True,True,False,NO
10174,443778398,134647673,1,45,1,1,5,8,0,0,...,True,True,False,True,True,True,False,False,True,NO
10175,443824292,138784172,2,85,3,31,2,24,0,0,...,True,True,False,True,True,True,False,False,True,<30
10176,443847176,50375628,3,65,6,45,1,25,3,1,...,True,True,False,True,True,True,False,False,True,>30

In [16]:
df_train_seq = df_train_seq.replace({'Yes': 1, 'No': 0, True: 1, False: 0})
df_test_seq= df_test_seq.replace({"yes":1, "No":0, True:1, False:0})

display(df_train_seq.head(), df_test_seq.head())

C:\Users\vidur\AppData\Local\Temp\ipykernel_37912\1734839941.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_train_seq = df_train_seq.replace({'Yes': 1, 'No': 0, True: 1, False: 0})
C:\Users\vidur\AppData\Local\Temp\ipykernel_37912\1734839941.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_test_seq= df_test_seq.replace({"yes":1, "No":0, True:1, False:0})

,encounter_id,patient_nbr,timestep,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,glimepiride-pioglitazone_No,metformin-rosiglitazone_No,metformin-rosiglitazone_Steady,metformin-pioglitazone_No,metformin-pioglitazone_Steady,change_Ch,change_No,diabetesMed_No,diabetesMed_Yes,readmitted
0,149190,55629189,1,15,3,59,0,18,0,0,...,1,1,0,1,0,1,0,0,1,>30
1,64410,86047875,1,25,2,11,5,13,2,0,...,1,1,0,1,0,0,1,0,1,NO
2,500364,82442376,1,35,2,44,1,16,0,0,...,1,1,0,1,0,1,0,0,1,NO
3,16680,42519267,1,45,1,51,0,8,0,0,...,1,1,0,1,0,1,0,0,1,NO
4,35754,82637451,1,55,3,31,6,16,0,0,...,1,1,0,1,0,0,1,0,1,>30

,encounter_id,patient_nbr,timestep,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,glipizide-metformin_No,glimepiride-pioglitazone_No,glimepiride-pioglitazone_Steady,metformin-rosiglitazone_No,metformin-pioglitazone_No,change_Ch,change_No,diabetesMed_No,diabetesMed_Yes,readmitted
1,28236,89869032,1,45,9,47,2,17,0,0,...,1,1,0,1,1,0,1,0,1,>30
3,253380,56480238,1,65,6,87,0,18,0,0,...,1,1,0,1,1,1,0,0,1,NO
4,383430,80588529,1,75,1,28,0,15,0,0,...,1,1,0,1,1,1,0,0,1,>30
5,550098,21820806,1,55,4,40,1,14,0,0,...,1,1,0,1,1,0,1,1,0,<30
6,676422,63754317,1,75,4,48,2,15,0,1,...,1,1,0,1,1,0,1,0,1,>30

In [17]:
# # Sort by 'patient_nbr' and 'timestep' to ensure proper cumulative calculations
df_train_seq = df_train_seq.sort_values(by=['patient_nbr', 'timestep'])
df_test_seq = df_test_seq.sort_values(by=['patient_nbr', 'timestep'])

# Step 4: Fill NaN Values for the First Visit (No History)
df_train_seq = df_train_seq.fillna(0)
df_test_seq = df_test_seq.fillna(0)

# Display the updated DataFrame
print(df_train_seq.shape)
print(df_test_seq.shape)

display(df_train_seq)

(91589, 2371)
(9810, 1527)

,encounter_id,patient_nbr,timestep,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,glimepiride-pioglitazone_No,metformin-rosiglitazone_No,metformin-rosiglitazone_Steady,metformin-pioglitazone_No,metformin-pioglitazone_Steady,change_Ch,change_No,diabetesMed_No,diabetesMed_Yes,readmitted
3840,24437208,135,1,55,8,77,6,33,0,0,...,1,1,0,1,0,1,0,0,1,<30
5244,29758806,378,1,55,2,49,1,11,0,0,...,1,1,0,1,0,0,1,1,0,NO
60847,189899286,729,1,85,4,68,2,23,0,0,...,1,1,0,1,0,0,1,0,1,NO
15744,64331490,774,1,85,3,46,0,20,0,0,...,1,1,0,1,0,1,0,0,1,NO
1047,8380170,1152,1,55,6,43,2,13,0,0,...,1,1,0,1,0,0,1,0,1,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89876,418513058,189351095,1,85,1,73,1,11,0,0,...,1,1,0,1,0,0,1,1,0,NO
85753,359719064,189365864,1,65,3,56,1,8,0,0,...,1,1,0,1,0,0,1,0,1,NO
84285,338462954,189445127,1,85,3,39,0,18,0,0,...,1,1,0,1,0,1,0,0,1,NO
91573,443811536,189481478,1,45,14,69,0,16,0,0,...,1,1,0,1,0,1,0,0,1,>30
86532,371459060,189502619,1,45,5,35,4,23,0,0,...,1,1,0,1,0,1,0,0,1,NO

In [18]:
# Mapping readmitted column to numerical values
label_encoder = LabelEncoder()

label_encoder.fit_transform(readmitted_col_df_train_)
df_train_target = label_encoder.transform(readmitted_col_df_train_)

label_encoder.fit_transform(readmitted_col_df_test_)
df_test_target = label_encoder.transform(readmitted_col_df_test_)

class_mapping = {label: index for index, label in enumerate(label_encoder.classes_)}
print("Mapping of classes to encoded values:", class_mapping)

Mapping of classes to encoded values: {'<30': 0, '>30': 1, 'NO': 2}

In [ ]:
df_train_chi_seq = df_train_seq.drop(columns=['readmitted'], axis=1)
df_test_chi_seq = df_test_seq.drop(columns=['readmitted'], axis=1)

# Step 1: Group by Patient ID (Assuming `patient_nbr` is the unique identifier)
grouped = df_train_chi_seq.groupby('patient_nbr')

df_train_chi_seq['readmitted_target'] = df_train_target
# Count the number of rows (visits) for each patient
sequence_lengths = grouped.size()

# Determine the maximum sequence length
max_seq_length = sequence_lengths.max()

print("Maximum sequence length:", max_seq_length)

# Step 2: Determine the Maximum Sequence Length
#max_seq_length = 5  # Set this based on your dataset (e.g., the maximum number of visits per patient)

# Step 3: Create Sequences
sequences = []
labels = []

for patient_id, group in grouped:
    # Sort rows by time if necessary (e.g., admission date)
    group = group.sort_values(by='time_in_hospital')

    # Extract features and target
    features = group.drop(columns=['patient_nbr', 'readmitted_target']).values
    #target = group['readmitted'].iloc[0]  # Use the target for the first admission as the label
    target = group['readmitted_target'].iloc[0]  # Use the target for the first admission as the label

    # Truncate or Pad to `max_seq_length`
    if len(features) > max_seq_length:
        features = features[:max_seq_length]
    else:
        features = np.pad(features, ((0, max_seq_length - len(features)), (0, 0)), mode='constant')

    # Append the sequence and label
    sequences.append(features)
    labels.append(target)

# Convert to NumPy arrays
X = np.array(sequences, dtype=np.float32)  # Shape: (number_of_sequences, sequence_length, number_of_features)
y = np.array(labels, dtype=np.int64)       # Shape: (number_of_sequences,)

Maximum sequence length: 39

In [20]:
def preprocess_and_select_features(df_train, df_test, target_column, desired_contribution=0.99):
    # Step 1: Split Dataset into Features and Target
    y_train = df_train[target_column]
    X_train = df_train.drop(columns=[target_column])
    y_test = df_test[target_column]
    X_test = df_test.drop(columns=[target_column])

    # Align train and test columns
    X_train, X_test = X_train.align(X_test, join="inner", axis=1)

    # Ensure the target variable is numeric
    label_encoder = LabelEncoder()
    y_train = label_encoder.fit_transform(y_train)
    y_test = label_encoder.transform(y_test)

    # Retain column names for later use
    feature_columns = X_train.columns

    # Step 2: Scale Features using MinMaxScaler
    minmax_scaler = MinMaxScaler()
    X_train_scaled = minmax_scaler.fit_transform(X_train)
    X_test_scaled = minmax_scaler.transform(X_test)

    # Step 3: Apply Chi-Square Test
    print("Applying Chi-Square Test...")
    chi2_selector = SelectKBest(score_func=chi2, k='all')  # Use 'all' to get scores for all features
    chi2_selector.fit(X_train_scaled, y_train)

    # Chi-Square scores and cumulative explained contribution
    chi2_scores = pd.Series(chi2_selector.scores_, index=feature_columns).sort_values(ascending=False)
    cumulative_scores_chi2 = np.cumsum(chi2_scores) / chi2_scores.sum()

    # Step 4: Determine Optimal Number of Features
    optimal_k_chi2 = np.argmax(cumulative_scores_chi2 >= desired_contribution) + 1
    print(f"Optimal number of features to retain from Chi-Square: {optimal_k_chi2}")

    # Step 5: Select Top Features
    top_features_chi2 = chi2_scores.head(optimal_k_chi2).index.tolist()

    # Handle case when no features meet the threshold
    if len(top_features_chi2) == 0:
        print("No features selected based on Chi-Square test. Retaining all features.")
        top_features_chi2 = feature_columns.tolist()

    # Reduce datasets to Chi-Square selected features
    X_train_selected = pd.DataFrame(X_train_scaled, columns=feature_columns)[top_features_chi2]
    X_test_selected = pd.DataFrame(X_test_scaled, columns=feature_columns)[top_features_chi2]

    return X_train_selected, X_test_selected, y_train, y_test, top_features_chi2

# Apply the function to train and test datasets
X_train_selected, X_test_selected, y_train, y_test, selected_features = preprocess_and_select_features(
    df_train_seq, df_test_seq, target_column="readmitted"
)

# Output the selected features
print("Selected Features:", selected_features)
print("Train Data Shape:", X_train_selected.shape)

Applying Chi-Square Test...
Optimal number of features to retain from Chi-Square: 1119
Selected Features: ['discharge_disposition_id_Expired', 'number_inpatient', 'discharge_disposition_id_Discharged/transferred to another rehab fac including rehab units of a hospital .', 'diag_1_428', 'discharge_disposition_id_Discharged/transferred to home with home health service', 'admission_source_id_ Transfer from another health care facility', 'timestep', 'admission_source_id_Transfer from a hospital', 'diag_2_250', 'diabetesMed_No', 'diag_2_403', 'admission_source_id_ Emergency Room', 'admission_type_id_Elective', 'diag_3_401', 'insulin_Down', 'discharge_disposition_id_Hospice / medical facility', 'diag_3_250', 'diag_1_V58', 'discharge_disposition_id_Discharged to home', 'diag_2_401', 'diag_3_585', 'diag_1_491', 'discharge_disposition_id_Discharged/transferred to SNF', 'discharge_disposition_id_Hospice / home', 'admission_type_id_nan', 'diag_3_403', 'insulin_Up', 'diag_1_250.6', 'insulin_No', 'diag_2_648', 'diag_1_278', 'discharge_disposition_id_Discharged/transferred to another type of inpatient care institution', 'diag_2_428', 'change_Ch', 'admission_source_id_ Physician Referral', 'discharge_disposition_id_Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital', 'diag_3_250.6', 'diag_2_491', 'change_No', 'diag_3_428', 'diag_2_585', 'diag_3_272', 'diag_3_536', 'diabetesMed_Yes', 'patient_nbr', 'diag_1_715', 'discharge_disposition_id_nan', 'diag_1_722', 'diag_2_707', 'number_outpatient', 'metformin_Steady', 'num_procedures', 'time_in_hospital', 'diag_1_786', 'number_emergency', 'diag_2_250.41', 'diag_1_493', 'discharge_disposition_id_Discharged/transferred within this institution to Medicare approved swing bed', 'diag_1_250.7', 'diag_1_414', 'diag_1_410', 'diag_1_654', 'discharge_disposition_id_Discharged/transferred to another short term hospital', 'diag_1_434', 'repaglinide_Steady', 'number_diagnoses', 'max_glu_serum_>300', 'diag_1_218', 'diag_1_618', 'diag_2_272', 'diag_1_250', 'diag_1_820', 'diag_2_250.6', 'diag_2_682', 'diag_1_540', 'diag_2_496', 'diag_2_440', 'diag_1_250.8', 'diag_3_682', 'diag_1_282', 'diag_3_250.4', 'diag_3_496', 'acarbose_Steady', 'diag_2_425', 'diag_3_581', 'diag_3_707', 'diag_1_486', 'diag_2_571', 'diag_1_198', 'A1Cresult_Norm', 'diag_1_996', 'diag_2_342', 'diag_1_574', 'rosiglitazone_Steady', 'diag_1_403', 'diag_3_250.41', 'race_Other', 'race_Asian', 'diag_3_198', 'glipizide_Steady', 'admission_type_id_Emergency', 'diag_1_197', 'diag_3_197', 'diag_1_626', 'diag_1_162', 'admission_source_id_ Not Available', 'diag_1_440', 'diag_1_507', 'diag_3_250.42', 'diag_2_536', 'diag_1_182', 'diag_3_427', 'diag_2_202', 'diag_1_572', 'diag_3_342', 'diag_1_185', 'diag_1_443', 'diag_3_425', 'diag_1_250.4', 'diag_1_157', 'diag_1_250.82', 'diag_2_250.7', 'diag_2_414', 'encounter_id', 'diag_2_518', 'diag_1_250.41', 'admission_source_id_Clinic Referral', 'race_Caucasian', 'admission_source_id_ Not Mapped', 'diag_3_785', 'pioglitazone_Steady', 'diag_2_574', 'diag_1_250.03', 'admission_source_id_ Transfer from a Skilled Nursing Facility (SNF)', 'diag_1_276', 'discharge_disposition_id_Admitted as an inpatient to this hospital', 'diag_3_278', 'diag_1_250.01', 'diag_1_787', 'metformin_No', 'diag_2_162', 'diag_2_197', 'diag_3_424', 'diag_1_824', 'diag_1_648', 'diag_2_348', 'diag_3_250.02', 'diag_1_625', 'diag_1_664', 'diag_3_V10', 'diag_1_431', 'diag_1_220', 'diag_1_730', 'diag_1_404', 'admission_type_id_Trauma Center', 'metformin_Up', 'diag_1_852', 'race_Hispanic', 'diag_2_278', 'diag_1_280', 'gender_Male', 'diag_1_592', 'diag_2_250.43', 'diag_1_850', 'diag_3_V45', 'diag_1_659', 'diag_2_507', 'diag_1_250.11', 'diag_3_250.8', 'diag_3_625', 'num_medications', 'diag_1_295', 'diag_2_618', 'diag_2_560', 'admission_type_id_Not Mapped', 'diag_2_813', 'diag_3_305', 'diag_2_820', 'diag_1_661', 'diag_2_203', 'gender_Female', 'diag_2_294', 'diag_1_682', 'diag_3_659', 'diag_3_348', 'diag_2_998', 'diag_2_V49', 'diag_2_218', 'diag_1_967', 'diag_2_E885', 'diag_2_250.4', 'diag_3_284', 'diag_3_414', 'diag_3_568', 'A1Cresult_>8', 'diag_1_707', 'diag_2_250.03', 'diag_2_724', 'diag_2_V85', 'diag_2_625', 'diag_1_642', 'diag_3_312', 'diag_1_304', 'diag_1_205', 'diag_1_250.42', 'diag_1_427', 'diag_2_577', 'diag_3_618', 'diag_2_493', 'diag_3_E849', 'diag_1_432', 'diag_1_290', 'diag_1_204', 'diag_2_285', 'diag_2_150', 'diag_3_250.7', 'diag_2_205', 'diag_3_218', 'glipizide_Down', 'diag_1_235', 'diag_3_42', 'glimepiride_Steady', 'diag_2_807', 'diag_3_511', 'diag_1_191', 'diag_3_356', 'diag_1_241', 'diag_2_250.81', 'diag_2_304', 'diag_1_577', 'diag_1_656', 'diag_1_174', 'diag_3_491', 'diag_1_813', 'diag_2_E950', 'diag_3_255', 'diag_2_782', 'diag_2_786', 'diag_1_537', 'diag_3_304', 'diag_1_435', 'diag_1_340', 'diag_1_V53', 'diag_3_70', 'diag_3_V60', 'diag_3_V49', 'diag_2_332', 'num_lab_procedures', 'diag_2_535', 'diag_3_507', 'diag_3_250.53', 'insulin_Steady', 'diag_2_250.42', 'diag_1_494', 'diag_1_526', 'diag_3_117', 'diag_3_642', 'diag_1_155', 'diag_2_412', 'diag_3_654', 'diag_2_404', 'diag_2_785', 'diag_2_723', 'diag_2_156', 'diag_1_430', 'diag_2_E947', 'diag_3_648', 'diag_2_E888', 'diag_3_444', 'diag_1_567', 'diag_1_789', 'diag_1_844', 'diag_2_997', 'diag_3_466', 'diag_2_413', 'diag_1_281', 'admission_source_id_nan', 'diag_1_566', 'diag_3_789', 'diag_3_V42', 'diag_2_490', 'diag_2_198', 'diag_3_250.82', 'diag_2_716', 'diag_2_V10', 'discharge_disposition_id_Not Mapped', 'diag_2_396', 'diag_2_572', 'diag_3_138', 'diag_3_916', 'diag_1_721', 'diag_1_424', 'diag_1_386', 'diag_1_822', 'diag_3_716', 'diag_3_997', 'diag_3_280', 'diag_2_722', 'diag_1_785', 'diag_3_577', 'diag_1_338', 'diag_1_599', 'diag_1_250.43', 'diag_2_296', 'diag_1_621', 'diag_2_459', 'diag_2_276', 'diag_1_845', 'diag_3_410', 'diag_1_23', 'diag_3_E956', 'diag_3_989', 'diag_1_571', 'diag_3_397', 'diag_2_250.01', 'diag_2_250.52', 'diag_2_581', 'diag_2_519', 'diag_2_794', 'A1Cresult_The test was not conducted on this patient', 'diag_1_860', 'diag_2_626', 'diag_1_250.02', 'diag_3_250.01', 'diag_1_756', 'diag_1_199', 'diag_3_453', 'diag_1_415', 'diag_1_189', 'diag_1_298', 'diag_1_553', 'diag_3_996', 'diag_3_41', 'diag_1_331', 'diag_3_244', 'diag_3_261', 'diag_1_535', 'rosiglitazone_Down', 'diag_3_E812', 'diag_3_784', 'diag_3_V46', 'diag_3_873', 'diag_2_756', 'diag_1_378', 'diag_3_402', 'diag_2_V65', 'diag_3_616', 'diag_1_V57', 'diag_2_620', 'diag_3_344', 'diag_3_331', 'diag_2_999', 'diag_3_250.81', 'diag_3_440', 'diag_2_616', 'diag_2_244', 'repaglinide_Up', 'diag_1_780', 'diag_3_V85', 'diag_1_396', 'diag_3_357', 'diag_1_227', 'diag_1_726', 'diag_2_996', 'diag_3_V12', 'diag_1_496', 'diag_1_593', 'diag_3_E880', 'diag_1_277', 'diag_2_642', 'diag_2_411', 'discharge_disposition_id_Discharged/transferred to a long term care hospital.', 'diag_3_557', 'diag_1_225', 'diag_3_437', 'diag_2_305', 'diag_1_733', 'diag_1_251', 'diag_1_514', 'diag_1_812', 'diag_3_396', 'diag_2_369', 'diag_1_420', 'diag_2_157', 'diag_3_447', 'diag_2_V62', 'diag_1_9', 'diag_1_790', 'diag_2_718', 'diag_1_652', 'diag_2_816', 'diag_1_522', 'diag_2_250.82', 'diag_3_263', 'diag_1_590', 'diag_2_337', 'diag_1_823', 'diag_2_E880', 'A1Cresult_>7', 'discharge_disposition_id_Expired at home. Medicaid only, hospice.', 'diag_3_162', 'diag_2_8', 'diag_1_627', 'diag_2_275', 'diag_3_150', 'diag_3_807', 'diag_1_601', 'diag_1_348', 'discharge_disposition_id_Left AMA', 'diag_3_731', 'diag_1_239', 'diag_1_292', 'diag_3_490', 'diag_3_537', 'diag_1_801', 'diag_1_183', 'diag_2_530', 'diag_3_713', 'diag_1_584', 'diag_1_847', 'diag_1_724', 'diag_1_426', 'diag_3_8', 'diag_1_285', 'diag_3_174', 'diag_1_112', 'diag_1_135', 'diag_2_136', 'diag_1_644', 'diag_1_438', 'diag_2_290', 'diag_3_560', 'diag_2_301', 'diag_2_250.8', 'diag_1_250.12', 'diag_3_250.51', 'diag_2_790', 'diag_2_263', 'diag_1_293', 'diag_2_183', 'diag_1_250.22', 'admission_type_id_Not Available', 'diag_3_923', 'diag_2_824', 'diag_3_715', 'diag_2_426', 'diag_3_664', 'diag_3_250.52', 'diag_2_594', 'diag_1_746', 'diag_1_865', 'diag_3_E879', 'diag_2_453', 'glipizide_Up', 'diag_3_155', 'diag_1_294', 'diag_2_730', 'diag_2_386', 'diag_2_307', 'diag_1_350', 'diag_3_584', 'diag_3_415', 'max_glu_serum_>200', 'diag_2_788', 'diag_1_620', 'diag_3_578', 'diag_3_459', 'diag_1_8', 'diag_2_V64', 'diag_2_V44', 'diag_3_346', 'diag_3_295', 'admission_source_id_HMO Referral', 'diag_3_V62', 'glipizide_No', 'diag_2_733', 'diag_3_413', 'diag_1_723', 'diag_3_E816', 'diag_1_696', 'diag_2_V63', 'diag_3_824', 'diag_1_202', 'diag_2_617', 'diag_2_327', 'diag_3_443', 'diag_1_737', 'diag_3_794', 'diag_2_346', 'diag_2_434', 'diag_2_473', 'diag_3_457', 'diag_1_250.2', 'diag_1_397', 'diag_1_693', 'diag_1_840', 'diag_1_530', 'diag_2_79', 'diag_1_458', 'diag_1_600', 'diag_3_620', 'diag_1_782', 'diag_1_153', 'diag_3_250.11', 'diag_2_568', 'diag_2_436', 'diag_3_535', 'diag_1_447', 'diag_2_289', 'chlorpropamide_Up', 'diag_1_66', 'diag_3_303', 'diag_1_924', 'diag_1_462', 'diag_2_881', 'diag_2_188', 'diag_2_250.83', 'glyburide_Down', 'diag_2_715', 'diag_3_696', 'diag_1_284', 'diag_1_552', 'diag_2_40', 'diag_2_873', 'diag_1_V55', 'diag_2_437', 'diag_1_442', 'diag_1_511', 'diag_2_532', 'diag_3_273', 'diag_2_553', 'diag_2_706', 'diag_2_427', 'diag_3_652', 'diag_2_910', 'diag_2_791', 'diag_3_860', 'diag_3_239', 'diag_3_882', 'diag_3_246', 'diag_1_562', 'age', 'diag_1_151', 'diag_1_154', 'diag_3_813', 'diag_2_429', 'diag_3_626', 'diag_1_200', 'diag_1_531', 'diag_2_277', 'diag_2_250.13', 'diag_3_998', 'diag_3_386', 'diag_1_958', 'diag_2_808', 'diag_2_860', 'diag_2_821', 'diag_1_586', 'diag_1_578', 'diag_2_250.53', 'diag_2_153', 'diag_3_201', 'diag_2_591', 'diag_3_599', 'diag_3_530', 'diag_3_238', 'diag_2_V43', 'diag_3_493', 'diag_1_738', 'diag_3_250.5', 'diag_3_583', 'diag_2_154', 'diag_3_681', 'diag_2_465', 'diag_1_962', 'diag_1_826', 'diag_2_377', 'diag_3_156', 'diag_1_398', 'diag_3_617', 'diag_3_189', 'diag_3_283', 'diag_1_V63', 'diag_3_861', 'diag_1_808', 'diag_3_313', 'diag_2_500', 'diag_1_550', 'diag_3_555', 'diag_3_722', 'diag_2_349', 'diag_1_569', 'diag_1_987', 'diag_3_915', 'diag_3_746', 'diag_3_845', 'diag_3_656', 'diag_2_590', 'diag_2_250.2', 'diag_3_621', 'diag_2_397', 'diag_1_557', 'diag_3_E944', 'diag_2_537', 'diag_1_821', 'diag_1_233', 'diag_3_730', 'diag_3_787', 'diag_3_711', 'diag_3_274', 'diag_3_V66', 'diag_2_787', 'diag_3_416', 'diag_1_38', 'diag_2_847', 'diag_2_V66', 'diag_3_752', 'diag_3_191', 'diag_1_273', 'diag_1_814', 'diag_3_240', 'diag_2_310', 'diag_2_250.22', 'diag_1_528', 'diag_2_989', 'diag_2_432', 'diag_2_731', 'diag_2_292', 'pioglitazone_Up', 'diag_3_337', 'diag_1_510', 'diag_3_478', 'diag_3_E878', 'diag_1_558', 'diag_1_576', 'diag_3_553', 'diag_1_658', 'diag_2_511', 'diag_1_481', 'diag_2_V46', 'diag_3_454', 'diag_2_600', 'diag_3_V64', 'diag_2_295', 'diag_2_204', 'diag_3_V15', 'diag_3_473', 'diag_3_782', 'diag_2_54', 'diag_2_646', 'diag_1_94', 'diag_1_341', 'diag_3_309', 'miglitol_Steady', 'diag_1_152', 'diag_1_784', 'diag_3_781', 'tolazamide_Steady', 'diag_2_V45', 'diag_1_532', 'diag_2_573', 'diag_3_920', 'diag_2_792', 'diag_3_288', 'diag_1_518', 'diag_2_298', 'diag_2_303', 'nateglinide_Steady', 'diag_1_394', 'diag_3_922', 'diag_2_E934', 'diag_2_V12', 'diag_2_314', 'diag_1_527', 'diag_1_705', 'diag_2_959', 'diag_3_580', 'diag_1_383', 'diag_1_V71', 'diag_1_641', 'diag_1_342', 'diag_3_719', 'diag_3_V17', 'diag_1_873', 'diag_2_444', 'diag_1_556', 'diag_3_515', 'diag_3_250.03', 'diag_2_480', 'diag_1_444', 'diag_2_331', 'diag_3_793', 'diag_2_729', 'diag_3_433', 'diag_3_820', 'diag_3_596', 'diag_2_E879', 'diag_1_441', 'diag_1_351', 'diag_1_411', 'diag_3_412', 'diag_1_616', 'diag_3_892', 'diag_1_275', 'diag_2_995', 'diag_2_336', 'diag_1_815', 'diag_2_335', 'diag_1_799', 'diag_2_719', 'diag_2_242', 'diag_3_552', 'diag_3_569', 'diag_1_922', 'diag_1_725', 'diag_1_611', 'diag_1_V54', 'diag_3_566', 'diag_3_543', 'diag_1_655', 'diag_1_633', 'diag_2_250.32', 'diag_3_464', 'diag_2_647', 'diag_3_831', 'diag_3_259', 'diag_2_522', 'diag_2_293', 'diag_3_203', 'diag_2_492', 'diag_1_459', 'diag_1_188', 'diag_1_783', 'diag_3_319', 'diag_3_737', 'diag_2_424', 'diag_3_307', 'diag_2_614', 'diag_1_226', 'diag_3_300', 'diag_1_346', 'diag_3_327', 'diag_3_E888', 'diag_2_252', 'diag_3_738', 'diag_1_796', 'diag_1_619', 'diag_3_256', 'diag_1_623', 'diag_1_382', 'diag_2_831', 'diag_2_562', 'diag_3_969', 'diag_1_861', 'diag_1_310', 'diag_3_241', 'diag_1_598', 'diag_2_245', 'diag_2_934', 'diag_3_522', 'diag_2_398', 'diag_1_297', 'diag_3_723', 'diag_2_485', 'diag_3_151', 'diag_2_461', 'diag_1_11', 'diag_1_595', 'diag_3_196', 'rosiglitazone_Up', 'diag_2_558', 'diag_2_531', 'diag_3_519', 'diag_2_920', 'diag_2_728', 'diag_2_E849', 'diag_1_305', 'diag_1_788', 'diag_2_286', 'diag_3_736', 'diag_3_693', 'diag_2_362', 'diag_2_446', 'diag_1_250.83', 'discharge_disposition_id_Discharged/transferred/referred another institution for outpatient services', 'diag_2_317', 'diag_1_211', 'diag_1_594', 'diag_2_481', 'diag_3_228', 'diag_1_237', 'diag_3_649', 'diag_2_701', 'diag_1_663', 'diag_2_322', 'diag_3_965', 'diag_3_708', 'diag_1_250.9', 'diag_1_250.23', 'diag_3_199', 'diag_2_458', 'diag_3_E942', 'chlorpropamide_Steady', 'diag_3_796', 'diag_3_516', 'diag_3_905', 'diag_1_977', 'diag_1_423', 'diag_2_608', 'diag_2_280', 'diag_1_150', 'diag_2_416', 'diag_3_586', 'diag_2_550', 'diag_1_718', 'diag_1_512', 'diag_1_933', 'diag_1_466', 'diag_1_728', 'diag_3_783', 'diag_3_608', 'diag_1_920', 'diag_1_478', 'diag_1_781', 'diag_1_250.81', 'diag_2_274', 'diag_3_V43', 'diag_1_794', 'diag_2_593', 'diag_1_585', 'diag_2_250.02', 'diag_3_571', 'diag_1_461', 'diag_3_V08', 'diag_3_372', 'diag_1_455', 'diag_1_807', 'diag_2_478', 'diag_2_333', 'diag_2_557', 'diag_1_5', 'diag_1_709', 'diag_3_252', 'diag_2_466', 'diag_1_242', 'diag_1_369', 'diag_2_217', 'diag_3_870', 'diag_2_483', 'diag_1_110', 'diag_1_980', 'diag_2_V86', 'diag_1_615', 'diag_3_3', 'diag_1_422', 'diag_3_483', 'diag_2_596', 'diag_1_327', 'diag_2_112', 'diag_2_958', 'diag_2_570', 'diag_2_338', 'diag_2_431', 'diag_3_250.9', 'diag_2_135', 'diag_3_799', 'diag_1_487', 'diag_2_189', 'diag_2_780', 'diag_1_250.13', 'diag_1_997', 'diag_1_892', 'diag_1_287', 'diag_3_907', 'diag_3_250.43', 'diag_3_200', 'diag_3_614', 'diag_1_573', 'diag_1_380', 'diag_3_601', 'diag_2_566', 'diag_1_614', 'diag_2_196', 'diag_3_574', 'diag_2_291', 'diag_1_596', 'diag_1_425', 'diag_2_378', 'diag_1_867', 'diag_3_54', 'discharge_disposition_id_Discharged/transferred/referred to this institution for outpatient services', 'diag_2_356', 'diag_1_3', 'diag_2_751', 'diag_2_842', 'diag_2_542', 'diag_1_602', 'diag_2_308', 'diag_1_986', 'diag_3_E905', 'diag_2_V23', 'diag_1_308', 'diag_3_171', 'diag_3_842', 'diag_3_534', 'diag_2_131', 'diag_2_V14', 'diag_3_850', 'diag_1_862', 'diag_3_250.92', 'diag_2_575', 'diag_2_41', 'diag_2_456', 'diag_1_288', 'diag_3_394', 'pioglitazone_No', 'diag_2_241', 'diag_3_317', 'glyburide_Steady', 'diag_1_482', 'diag_3_311', 'diag_2_288', 'diag_2_233', 'diag_2_311', 'diag_2_783', 'diag_1_196', 'diag_3_556', 'diag_2_430', 'diag_1_353', 'diag_1_272', 'diag_3_V57', 'diag_3_421', 'diag_1_608', 'diag_1_401', 'diag_2_714', 'diag_1_560', 'diag_3_V54', 'diag_2_300', 'diag_2_E939', 'diag_3_726', 'diag_3_486', 'diag_1_792', 'diag_1_555', 'diag_1_291', 'diag_2_258', 'diag_3_V02', 'diag_2_747', 'rosiglitazone_No', 'diag_3_E885', 'diag_2_455', 'diag_1_999', 'diag_2_211', 'diag_3_438', 'diag_3_332', 'diag_3_527', 'diag_1_324', 'diag_1_883', 'diag_3_881', 'diag_2_864', 'diag_1_836', 'diag_2_389', 'diag_2_365', 'diag_1_214', 'diag_3_34', 'diag_1_250.5', 'diag_3_825', 'diag_3_644', 'diag_2_250.11', 'diag_1_413', 'diag_2_E935', 'diag_2_344', 'diag_2_721', 'diag_2_E942', 'diag_2_V58', 'diag_2_282', 'pioglitazone_Down', 'diag_2_595', 'diag_2_741', 'diag_1_184', 'diag_1_983', 'diag_2_527', 'diag_2_501', 'diag_1_923', 'diag_3_180', 'diag_3_276', 'diag_3_456', 'diag_3_725', 'diag_3_250.22', 'diag_2_262', 'diag_2_447', 'diag_2_260', 'diag_1_193', 'diag_1_416', 'diag_3_492', 'diag_3_461', 'diag_1_969', 'diag_3_733', 'diag_3_531', 'diag_3_727', 'diag_2_250.12', 'diag_2_710', 'diag_3_924', 'diag_1_250.3', 'diag_1_853', 'diag_1_332', 'diag_2_486', 'diag_1_289', 'diag_3_205', 'diag_2_E884', 'diag_3_V72', 'diag_3_705', 'diag_3_436', 'diag_2_220', 'diag_1_230', 'diag_1_536', 'diag_2_70', 'diag_3_404', 'diag_3_290', 'diag_2_238', 'diag_1_451', 'diag_2_199', 'diag_1_680', 'diag_2_867', 'diag_2_251', 'diag_3_518', 'diag_1_714', 'diag_2_420', 'tolbutamide_Steady', 'diag_1_421', 'diag_1_851', 'diag_3_250.2', 'diag_1_992', 'diag_2_836', 'diag_3_704', 'diag_3_458', 'diag_1_945', 'diag_2_905', 'diag_2_E944', 'diag_3_434', 'diag_3_368', 'diag_3_V58', 'diag_2_517', 'diag_3_883', 'diag_3_575', 'diag_1_959', 'diag_1_156', 'diag_1_716', 'diag_3_294', 'diag_1_429', 'diag_3_292', 'diag_2_784', 'diag_3_455', 'diag_2_441', 'diag_3_501', 'diag_2_253', 'diag_1_727', 'diag_3_369', 'diag_1_283', 'diag_3_999', 'diag_2_789', 'diag_3_298', 'diag_3_714', 'diag_2_799', 'diag_2_564', 'diag_3_411', 'diag_3_281', 'diag_1_935', 'diag_2_514', 'diag_1_565', 'diag_3_349', 'diag_1_473', 'diag_3_426', 'race_AfricanAmerican', 'repaglinide_Down', 'diag_2_250.51', 'diag_3_721', 'diag_2_512', 'diag_3_532', 'diag_1_437', 'diag_1_745', 'diag_3_E870', 'diag_2_380', 'diag_3_945', 'diag_2_457', 'diag_3_579', 'diag_2_V70', 'diag_1_991', 'diag_3_179', 'diag_3_301', 'diag_2_345', 'diag_1_402', 'diag_2_312', 'nateglinide_Up', 'glimepiride_Up', 'max_glu_serum_The test was not conducted on this patient', 'diag_1_250.93', 'admission_source_id_ Court/Law Enforcement', 'diag_2_746', 'diag_3_E881', 'diag_2_923', 'diag_1_952', 'diag_3_718', 'diag_3_594', 'diag_2_586', 'diag_2_482', 'diag_3_646', 'diag_1_345', 'diag_3_592', 'diag_2_681', 'diag_3_296', 'diag_1_465', 'diag_2_578', 'diag_2_155', 'diag_3_576', 'diag_1_274', 'diag_1_433', 'diag_1_333', 'diag_3_959', 'diag_3_242']
Train Data Shape: (91589, 1119)