# Data Transformation and Exploration

This assignment asks you to predict readmission for diabetic patients admitted to hospital, i.e., what is the likelihood that a patient will need to come back to hospital given the data about this visit. 
This is based on a database of 101766 hospital visits with a set of 50 features covering patient information, treatment and prescribed medication during the hospital stay.
The database covers patients admitted to 130 hospitals in the US over a period of 10 years to 2008. The original data came from this source:

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_train = pd.read_csv("Dataset/diabetic_data_training.csv")
df_test = pd.read_csv('Dataset/diabetic_data_test.csv')

print(df_train.head(5))
print(df_test.head(5))

   encounter_id  patient_nbr             race  gender      age weight  \
0        149190     55629189        Caucasian  Female  [10-20)      ?
1         64410     86047875  AfricanAmerican  Female  [20-30)      ?
2        500364     82442376        Caucasian    Male  [30-40)      ?
3         16680     42519267        Caucasian    Male  [40-50)      ?
4         35754     82637451        Caucasian    Male  [50-60)      ?

   admission_type_id  discharge_disposition_id  admission_source_id  \
0                  1                         1                    7
1                  1                         1                    7
2                  1                         1                    7
3                  1                         1                    7
4                  2                         1                    2

   time_in_hospital  ... citoglipton insulin  glyburide-metformin  \
0                 3  ...          No      Up                   No
1                 2  ...          No      No                   No
2                 2  ...          No      Up                   No
3                 1  ...          No  Steady                   No
4                 3  ...          No  Steady                   No

   glipizide-metformin  glimepiride-pioglitazone  metformin-rosiglitazone  \
0                   No                        No                       No
1                   No                        No                       No
2                   No                        No                       No
3                   No                        No                       No
4                   No                        No                       No

   metformin-pioglitazone  change diabetesMed readmitted
0                      No      Ch         Yes        >30
1                      No      No         Yes         NO
2                      No      Ch         Yes         NO
3                      No      Ch         Yes         NO
4                      No      No         Yes        >30

[5 rows x 50 columns]
   encounter_id  patient_nbr             race  gender      age weight  \
0       2278392      8222157        Caucasian  Female   [0-10)      ?
1         28236     89869032  AfricanAmerican  Female  [40-50)      ?
2        150006     22864131                ?  Female  [50-60)      ?
3        253380     56480238  AfricanAmerican  Female  [60-70)      ?
4        383430     80588529        Caucasian  Female  [70-80)      ?

   admission_type_id  discharge_disposition_id  admission_source_id  \
0                  6                        25                    1
1                  1                         1                    7
2                  2                         1                    4
3                  1                         1                    7
4                  1                         2                    7

   time_in_hospital  ... citoglipton insulin  glyburide-metformin  \
0                 1  ...          No      No                   No
1                 9  ...          No  Steady                   No
2                 2  ...          No    Down                   No
3                 6  ...          No  Steady                   No
4                 1  ...          No    Down                   No

   glipizide-metformin  glimepiride-pioglitazone  metformin-rosiglitazone  \
0                   No                        No                       No
1                   No                        No                       No
2                   No                        No                       No
3                   No                        No                       No
4                   No                        No                       No

   metformin-pioglitazone  change diabetesMed readmitted
0                      No      No          No         NO
1                      No      No         Yes        >30
2                      No      Ch         Yes         NO
3                      No      Ch         Yes         NO
4                      No      Ch         Yes        >30

[5 rows x 50 columns]

In [9]:
# 1. Basic Summary Statistics
print("Summary Statistics:")
df_train.describe(include='all')

Summary Statistics:

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,9.158900e+04,9.158900e+04,91589,91589,91589,91589,91589.000000,91589.000000,91589.000000,91589.000000,...,91589,91589,91589,91589,91589,91589,91589,91589,91589,91589
unique,NaN,NaN,6,3,10,10,NaN,NaN,NaN,NaN,...,1,4,4,2,1,2,2,2,2,3
top,NaN,NaN,Caucasian,Female,[70-80),?,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
freq,NaN,NaN,68478,49217,23452,88754,NaN,NaN,NaN,NaN,...,91589,42539,90963,91576,91589,91588,91588,49235,70555,49355
mean,1.652026e+08,5.431082e+07,NaN,NaN,NaN,NaN,2.022514,3.718503,5.759349,4.395550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.026402e+08,3.871289e+07,NaN,NaN,NaN,NaN,1.444416,5.284318,4.063074,2.987944,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.252200e+04,1.350000e+02,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,8.496456e+07,2.340244e+07,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.523897e+08,4.545860e+07,NaN,NaN,NaN,NaN,1.000000,1.000000,7.000000,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.302720e+08,8.754388e+07,NaN,NaN,NaN,NaN,3.000000,4.000000,7.000000,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4.438672e+08,1.895026e+08,NaN,NaN,NaN,NaN,8.000000,28.000000,25.000000,14.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# 2. Checking for Missing Values
print("\nMissing Values:")
df_train.isnull().sum()

Missing Values:

encounter_id                    0
patient_nbr                     0
race                            0
gender                          0
age                             0
weight                          0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum               86793
A1Cresult                   76282
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [11]:
# 3. Correlation Heatmap
plt.figure(figsize=(12, 8))
correlation_matrix = df_train.corr()
sns.heatmap(correlation_matrix, annot=True, fmt='.2f', cmap='coolwarm')
plt.title("Correlation Heatmap")
plt.show()

ValueError: could not convert string to float: 'Caucasian'

In [ ]:
# 4. Distribution of Numerical Features
numerical_features = df_train.select_dtypes(include=['int64', 'float64']).columns

for col in numerical_features:
    plt.figure(figsize=(8, 4))
    sns.histplot(df_train[col], kde=True, bins=30)
    plt.title(f"Distribution of {col}")
    plt.xlabel(col)
    plt.ylabel("Frequency")
    plt.show()

In [ ]:
# 5. Count Plots for Categorical Features
categorical_features = df_train.select_dtypes(include=['object']).columns

for col in categorical_features:
    plt.figure(figsize=(8, 4))
    sns.countplot(data=df_train, x=col, order=df_train[col].value_counts().index)
    plt.title(f"Count Plot of {col}")
    plt.xlabel(col)
    plt.ylabel("Count")
    plt.xticks(rotation=45)
    plt.show()

In [ ]:
# 7. Correlation with Target Variable 

if 'readmitted' in df_train.columns:
    target_correlation = df_train.corr()['readmitted'].sort_values(ascending=False)
    print("\nCorrelation with Target Variable:")
    print(target_correlation)
    
# PLOT A HEATMAP??